.navigation {
    padding: 25px 10px;
    max-width: 1050px;
    margin: 0 auto;
    text-align: left;
    list-style-type: none;
    list-style-position: inside;
}

.navigation__link {
    font-size: 20px;
    color: #0099ad;
    font-weight: 700;
    text-decoration: none;
}


.navigation__link:hover {
    color: #ac0048cb;
}

.navigation__link:active {
    color: rgb(78, 78, 70);
}