.table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

.table__caption {
    text-align: left;
    font-size: 1.5em;
    font-weight: bolder;
}

.table__cell {
    padding: 3px;
    border-bottom: 1px solid #ffffff91;
}

.tableRow:hover {
    color: #ac0048cb;
}

.table__link {
    color: #0099ad;
    font-weight: 700;
    text-decoration: none;
}

.table__link:hover {
    color: #ac0048cb;
}

.table__link:active {
    color: rgb(78, 78, 70);
}